html, body {
    height: 100%;
}

.background {
        background-image: url("/static/img/jolley_big.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

@media (min-aspect-ratio: 1640/944) {
   .background {
        background-image: url("/static/img/jolley_big.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
}

@media (max-width: 1350px) {
   .background {
        background-image: url("/static/img/jolley_half.jpg");
    }
}

@media (max-width: 1250px) {
   .background {
        background-image: url("/static/img/jolley_third.jpg");
    }
}

@media (max-width: 750px) {
   .background {
        background-image: url("/static/img/jolley_small.jpg");
    }
}

.background-black {
    background-color: black;
}

.wrapper-body {
    height: 100%;
}

.wrapper {
    border-style: none;
    max-width: initial;
}

.center.background {
    height: 100%;
    display: table;
    width: 100%;
}

.project-view {
    height: 100%;
    display: table;
    width: 100%;
}

.middle-row {
    display: table-cell;
    vertical-align: middle;
}

.button-wrapper{
    display: table-cell;
    vertical-align: middle;
}

.yellow-button {
    background-color: yellow;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.slogan {
    margin-left: 15%;
}

.quote {
    width: 25em;
    margin-left: -2.8em;
}

.quote p{
    color: white;
    margin-bottom: .3em;
    font-size: 2.3em;
    font-style: italic;
    text-align: center;
}

@media (max-width: 1350px) {
   .quote {
        background-color: rgba(148, 148, 148, .7);
        -webkit-border-radius: 15px 15px 15px 15px;
        border-radius: 15px 15px 15px 15px;
        padding: .1em;
    }
}

#entry-button {
    margin-top: 4em;
    margin-left: 4.6em;
}

.overlay{
    position: fixed;
    top: 0;
    background-color: rgba(148, 148, 148, 0.7);
    height: 100%;
    width: 100%
}

.close-button {
    margin: 2em;
    font-size: x-large;
    font-family: sans-serif;
    color: white;
    cursor: pointer;
    position: fixed;
    right: 1px;
}

/********************************************
	Project Card CSS
********************************************/
.project {
    position: relative;
    float: left;
    width: 15em;
    height: 16em;
    box-sizing: border-box;
    margin-right: .5314em;
	margin-left: .5314em;
	margin-bottom: 1em;
    border: rgb(215, 206, 206);
    border-style: solid;
    border-width: 1px;
    background: rgba(181, 169, 169, 0.95);
}


.middle-row .center{
    float: left;
    width: 100%;
}

.card-slots{
    margin: auto;
    width: 48.2em;
}
         
.project h3 {
    margin-top: 0;
    text-align: center;
    margin-bottom: -.27em;
    padding-left: .2em;
    padding-right: .2em;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 8em;
    overflow-x: hidden;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 775px) {
   .card-slots{
        margin-left: 20%;
        width: 10em;
    }
}
         
.project span {
    width: 100%;
    position: relative;
    float: left;
}
         
.project select {
    margin-bottom: .4em;
    width: 11em;
}

.project.info_container {
    width: 10em;
	float: none;
	border: none;
	top: -.5em;
    margin-top: 2.6em;
	margin: auto;
	text-align: center;
	height: 0;
    background-color: initial;
}
         
.project.info_container span {
	text-align: center;
}

.project input[type="button"]{
    margin-top: 4.8em;
    margin-left: .9em;
}